*{
    margin: 0;
    padding: 0;
}

body{
  font-family: "Gabarito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    border-bottom: solid black 1px;
    gap: 10px;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1__title{
    color: #A435F0;
}

.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: transparent;
}

.navbar__s2 input{
    border: none;
    font-size: 16px;
    width: 100%;
}

.navbar__s2 input:focus{
    outline: none;
}

.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
/* My Learning popup */

.mylearning{
    position: relative;
    cursor: pointer;

}
.mylearning__popup{
    position: absolute;
    width: 100px;
    background-color:white;
    border: solid 1px;
    top: 150%;
    padding:20px ;
    right: 0;
    display: none;
   


}
.mylearning:hover .mylearning__popup{
    display: block;
}



.categories{
    display: flex;
    padding: 10px;
    border-bottom: solid black 1px;
    justify-content: space-around;
}

.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
}
.sale-image{
    position: relative;
}

.sale-image img{
    width: 100%;
    
}
.sale-image__offer{
    position: absolute;
    border: 2px solid;
    width: 30%;
    background-color: white;
    color: black;
    top: 10%;
    left: 10%;
    padding: 15px;
}

.recommended{
    padding: 10px;
}

.recommended__container{
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;  
    flex-wrap: wrap;
}

.course-card{
    width: 300px;
}

.course-card img{
    height: 50%;
    width: 100%;
}

.topics{
    padding: 10px;  
}

.topics__container{
    display: flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}

.popular{
    padding: 10px;
}

.popular__container{
    display: flex;
    justify-content: space-between; 
    margin-top: 10px;
    margin-left: 1px;  
    flex-wrap: wrap;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
}

.footer_one{
    display: flex;
    gap: 10px;
}

.footer_one p{
    margin: 20px;
}

.footer_two{
    margin: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
}